*{padding:0;margin:0;border:0; font-family: "Arial"}
body,html{background-color: #f2f4f5;}
a{text-decoration: none;color:#000000;}
ul{list-style-type: none;}
.blank{display:none;}

#header,#navigation,#footer,#subfooter,#content{
	max-width:1100px;
	margin:0 auto;
}

/*		***	Header ***		*//*		***	Header ***		*//*		***	Header ***		*/
#wrapper-header{
	min-width: 0px;
    width: 100%;
	background-color: #ffffff;
	z-index: 2;
	position: relative;
}

#wrapper-header-fkt{
	float:right;
	margin-top:10px;
}
#wrapper-header-fkt div{
	float:left;
	height:20px;
	font-size:90%;
}
#logo{
	width:433px;
	height:71px;
	padding-top:20px;
}
#logo img:first-child{
	height:80px;
}
#logo img:last-child{
	height: auto;
	margin-bottom: 21px;
}
.iconearth{
	float:left;
	margin-top:7px;
}
#ioconsearch{
	width:20px;
	height:20px;
	background-image: url("search.png");
	background-color:#dfe5e6;
	padding: 5px 0;
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}
#language{
	padding: 7px 20px 5px 2px;
	cursor: pointer;
}
.searchinput{
	padding: 7px 0px;
	font-size: 105%;
	background-color: #dfe5e6;
}
/*		***	Navigation ***	*//*		***	Navigation ***	*//*		***	Navigation ***	*/
#wrapper-nav{
	width:100%;
	z-index:1;
	position:relative;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	display: table;
}
#mainnav{
	float:right;
}
#mainnav > li{
	float:left;
	font-size:100%;
	letter-spacing: -1px;
	padding: 1.2em 1.5em 1em;
	text-transform: uppercase;
	line-height: 1em;
}
#mainnav > li:hover{
	background-color: #DFE5E6
}

.submenu{
	position: absolute;
	width:1100px;
	left:50%;     
    margin-left:-550px;
    padding-bottom:10px;	
	top:51px;
	display:none;
	position: absolute;	
	background-color: #DFE5E6;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
	z-index:0;
}
.submenu ul{
	float:left;
}
.submenu li:first-child{
	border-bottom:2px solid #000000;
	margin-bottom:20px;
	padding-top:20px;
	font-weight:bold;
}
.submenu li{
	font-size:80%;
	width:250px;
	margin-left:20px;
}
/*		***	Content ***		*//*		***	Content ***		*//*		***	Content ***		*/
#content{
	display:table;
	padding:20px 0;
}
#content > div:first-child{
	width:66.666%;
	float:left;
}
#content > div:last-child{
	float:left;
	width: 33.333%;
}

/*		***	MainTxt ***		*/
#contentLeft h2{
	padding-bottom:10px;
}
#haupttext{
	background-color: #ffffff;
	padding: 20px;
	margin-right: 20px;
}
.squareDots{
	list-style-type: square;
	margin-left: 40px;
}
#aktuelles{
	margin-top:20px;
	margin-right:20px;
	background-color: #f9d47f;
	padding:20px;
}
#aktuelles h3{
	padding:20px 0;
}
#mehraktuelles{
	margin-left:70%;
	padding:5px 10px;
	border:2px solid #000000;
	cursor: pointer;
}
#mehraktuelles:hover{
	background-color: #ffffff;
}
/*		***	Sidebar ***		*//*		***	Sidebar ***		*//*		***	Sidebar ***		*/
.sidebox{
	padding:30px;
	font-size:110%;
	margin-bottom:20px;
}
		/*RedBox*/
.redBox{
	background-color:#B54E62;	
	color:#ffffff;
}
.redBox a{
	color:#ffffff;
}
.redBox li{
	border-bottom:1px solid #ffffff;
	padding:10px 0;
}
.redBox li:first-child{
	border-bottom:4px solid #ffffff;
}
		/*BlueBox*/
.blueBox{
	background-color:#405e9a;	
	color:#ffffff;
}
.blueBox a{
	color:#ffffff;
}
.blueBox li{
	border-bottom:1px solid #ffffff;
	padding:10px 0;
}
.blueBox li:first-child{
	border-bottom:4px solid #ffffff;
}
		/*WhiteBox*/
.whiteBox{
	background-color:#ffffff;	
	color:#394A59;
}
.whiteBox a{
	color:#394A59;
}
.whiteBox li{
	border-bottom:1px solid #394A59;
	padding:10px 0;
}
.whiteBox li:first-child{
	border-bottom:4px solid #394A59;
}

	/*FirstListEntry*/
.sidebox li:first-child{
	font-weight:bold;
	text-transform: uppercase;
	padding:0 0 10px 0;
	margin-bottom:10px;
}

/*		***	Footer ***		*//*		***	Footer ***		*//*		***	Footer ***		*/
#wrapper-footer{
	width:100%;
	background-color: #4a5d66;	
	color:#FFFFFF;
	padding:20px 0;
	display: table;
}
#wrapper-footer a{
	color:#FFFFFF;
}
#footer > div{
	float:left;
}
#footer div:nth-child(1){
	width:400px;
}
#footer div:nth-child(2){
	width:350px;
}
#footer h3{
	text-transform: uppercase;
	font-size:90%;
	font-weight:strong;
	margin-bottom: 10px;
}
#footer p, #footer a{
	font-size:85%;
}
.sozial{
	width:250px;
}
#qrimage{
	height:165px;		/*Anpassen*/
	position: relative;
}
#qrimage img{
	position: absolute;
	bottom: 0;
	height:100px;	
}

/*		***	SubFooter ***	*//*		***	SubFooter ***	*//*		***	SubFooter ***	*/
#wrapper-subfooter{
	width:100%;
	background-color: #6b7982;
	color:#FFFFFF;
	font-size:80%;
	padding: 5px 0px;
	display: table;
}
#wrapper-subfooter a{
	color:#FFFFFF;
}
#subfooter > div:first-child{
	float:left;
}
#subfooter > div:last-child{
	float:right;
}