/*		***	Navigation ***	*//*		***	Navigation ***	*//*		***	Navigation ***	*/
#wrapper-nav{
	width:100%;
	z-index:1;
	position:relative;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
	display: table;
}
#mainnav{
	float:right;
}
#mainnav > li{
	float:left;
	font-size:100%;
	letter-spacing: -1px;
	padding: 1.2em 1.5em 1em;
	text-transform: uppercase;
	line-height: 1em;
}
#mainnav > li:hover{
	background-color: #DFE5E6
}
#mainnav .active{
	background-color:#DFEEC8;
}
.submenu{
	position: absolute;
	width:1100px;
	left:50%;     
    margin-left:-550px;
    padding-bottom:10px;	
	top:51px;
	display:none;
	position: absolute;	
	background-color: #DFE5E6;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
	z-index:0;
	text-shadow:1px 1px 0px #F2F2F2;
	line-height: 120%;
}
.submenu ul{
	float:left;
}
.submenu li:first-child{
	border-bottom:3px solid #394A59;
	margin-bottom:20px;
	padding-top:20px;
	font-weight:bold;
	text-shadow:none;
	font-size: 100%;
}
.submenu li{
	font-size:80%;
	width:250px;
	margin-left:20px;
}